@inherits LayoutComponentBase

<PageTitle>eStore Blazor</PageTitle>

<div class="page d-flex flex-column">
	@*     <div class="sidebar">
	<NavMenu />
	</div>

	<main>
	<div class="top-row px-4">
	<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
	</div>

	<article class="content px-4">
	@Body
	</article>
	</main> *@


	<div class="container-fluid" style="background-color: rebeccapurple">
		<TopNavBar />
	</div>

	<div class="container-fluid flex-grow-1">
		@Body
	</div>

	<footer class="fixed-bottom text-center d-flex align-items-center justify-content-center footer">
		<p class="mb-0 py-2">eStore build using Blazor by <strong>Team 3</strong></p>
	</footer>


</div>

  
